# Python & Environments
__pycache__/
*.pyc
.env
.venv/
.vscode/

# Databricks
.databricks/

# Ignore all files inside the raw data folders, but keep the folders themselves
data/raw/pbs/*
!data/raw/pbs/.gitkeep
data/raw/wfp/*
!data/raw/wfp/.gitkeep

# Ignore all CSVs globally to prevent accidental large uploads
*.csv

# EXCEPTIONS: Allow any CSVs inside the samples folders to be pushed naturally
!data/samples/*.csv
!data/samples/wfp/*.csv