# Python & Environments
__pycache__/
*.pyc
.env
.venv/
.vscode/

# Databricks
.databricks/

# Ignore all files inside the raw data folders, but keep the folders themselves
data/raw/pbs/*
!data/raw/pbs/.gitkeep
data/raw/wfp/*
!data/raw/wfp/.gitkeep

# Ignore large WFP data specifically 
data/samples/wfp_sample.csv
*.csv